{% extends "base.html" %}

{% block title %}OthelloAI{% endblock %}

{% block content %}
<div class="centered-content">
  <h1>OthelloAI</h1>
  <p class="note">Developed by <a href="https://www.linkedin.com/in/--sharrison--/" target="_blank">Samuel Harrison</a></p>

  <div class="clickable-box">
    <a href="/play_game">Play OthelloAI</a>
  </div>

  <div class="clickable-box">
    <a href="https://medium.com/@samharrison_58357/building-an-ai-to-play-my-favourite-board-game-othello-57f5aab1d6cf">Blog</a>
  </div>

  <div class="clickable-box">
    <a href="https://github.com/sharrison00/othello">GitHub</a>
  </div>
</div>
{% endblock %}