{% extends "base.html" %}

{% block title %}OthelloAI{% endblock %}

{% block content %}
  <div id="color-selection-message" class="color-selection-message" style="visibility: hidden;"></div>

  <div class="game-container">
    {% if not game_started %}
      <div id="overlay" class="overlay">
        <div class="overlay-content">
          <form id="color-form" method="post">
            <label for="color">Choose your color:  </label>
            <select name="color" id="color">
              <option value="BLACK">Black</option>
              <option value="WHITE">White</option>
            </select>
            <input type="submit" value="Start Game">
          </form>
        </div>
      </div>
    {% endif %}

    <table class="game-board">
      <tbody>
        {% for row in range(8) %}
          <tr>
            {% for col in range(8) %}
              {% set cell = game.board.state[row][col] %}
              <td class="cell" data-row="{{ row }}" data-col="{{ col }}">
                {% if cell.name == "BLACK" %}
                  <div class="black-disc"></div>
                {% elif cell.name == "WHITE" %}
                  <div class="white-disc"></div>
                {% elif cell.name == "VALID" %}
                  <div class="grey-disc"></div>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="message-box" class="message-box" style="visibility: hidden;"></div>

  <div id="quote-container" class="quote-container" style="visibility: hidden;">
    <p id="quote"></p>
  </div>

  <div id="reset-game-container">
    <button id="reset-game-button">Reset Game</button>
  </div>

  <div id="game-started" style="display: none;" data-game-started="{{ game_started }}"></div>

  <script>
    let userColor = "{{ user_color }}";
  
    function displayRandomQuote() {
      document.getElementById('quote-container').style.visibility = 'visible';
      
      fetch('/get_random_quote')
        .then(response => response.json())
        .then(data => {
          document.getElementById('quote').textContent = data.quote;
        });

      let colorMessage = `You are playing as <strong>${userColor}</strong>.<br>Capture more discs than OthelloAI.`;
      document.getElementById('color-selection-message').innerHTML = colorMessage;
      document.getElementById('color-selection-message').style.visibility = 'visible';
    }
  
    let gameStarted = document.getElementById('game-started').dataset.gameStarted === 'True';
    
    if (gameStarted) {
      displayRandomQuote();
    }
  
    document.getElementById('color-form').addEventListener('submit', displayRandomQuote);
  </script>
  
  <script src="{{url_for('static', filename='game.js')}}"></script>
{% endblock %}