{% extends "base.html" %}

{% block title %}Play Game - My Website{% endblock %}

{% block content %}
  <h1>Play Game</h1>

  <table class="game-board">
    <tbody>
      {% for row in game.board.state %}
        <tr>
          {% for cell in row %}
            <td class="cell">
              {% if cell == "X" %}
                <div class="black-disc"></div>
              {% elif cell == "O" %}
                <div class="white-disc"></div>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}